.bodyClass {
    color:#000;
    background-color:#42f483;
    margin-left:auto;
    margin-right:auto;
    max-width:980px
}

.navClass {
    height:100%;
    width:100%;
    min-width:300px;
    background-color:#fff;
    position:fixed;
    z-index:3;
    top:0;
    overflow:auto;
    text-align:center;
    font-weight:bold;
    padding:8px 16px;
    display:block;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
    color:#757575;
    background-color:#fff;
    animation:moveLeftAndFadeIn 0.4s
}

.navBarItem {
    padding:8px 16px;
    width:100%;
    border:none;
    display:block;
    outline:0;
    text-align:left;
    float:none;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    cursor:pointer;
    white-space:normal;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.navBarItem:disabled {
    cursor:not-allowed;
    opacity:0.3;
}

.navBarItem:hover {
    color:#000;
    background-color:#ccc;
}

.h3Class {
    display:inline-block;
    width:auto;
    padding-top:64px;
    padding-bottom:64px;
    text-align:center;
}

@keyframes moveLeftAndFadeIn{
    from{left:-300px;opacity:0}
    to{left:0;opacity:1}
}

@media (min-width:993px) {
    .navClass {
        display:block
    }

    .navBarItem {
        display:none  
    }
}

@media (max-width:992px) {
    .navClass {
        display:none
    }
}